@media (max-width: 768px) {
  .header .img-circle {
    width: 250px;
    height: 250px;
  }

  .header .header-contant h1 {
    font-size: 40px;
  }

  .header .header-contant p {
    font-size: 18px;
    width: 100%;
  }

  .header .header-contant {
    margin: 0;
  }
   .about-section {
    padding: 2rem 1rem;
    border-radius: 50px;
  }

  .about-section .about-p p {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .project-card .card {
    margin-bottom: 40px;
  }

  .card-body p,
  .card-body h4 {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .contact-section {
    padding: 20px;
    border-radius: 30px;
  }

  .contact-section h2 {
    font-size: 28px;
  }

  .contact-section label {
    font-size: 16px;
  }

  .contact-section input,
  .contact-section textarea {
    font-size: 14px;
  }

  .contact-section button {
    font-size: 16px;
    width: 100%; 
   }
}

@media (max-width: 768px) {
  .skills-titlle h2 {
    font-size: 2rem;
  }

  .tag {
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
  }
}


@media (max-width: 480px) {
  .skills-section{
    overflow: hidden;
  }
  .tag-list {
    max-width: 50%;
  }

  .skills-titlle h2 {
    font-size: 1.7rem;
  }

  .inner {
    gap: 0.5rem;
  }

  .tag {
    font-size: 0.75rem;
    padding: 0.4rem 0.7rem;
  }
}